.inputFormCntr {
  padding: 16px;
  border: 1px solid #c9c9c9;
  width: 50%;
  max-width: 400px;
  border-radius: 7px;
  margin: 20px auto;
}

.alertStyles {
  display: none;
  margin: 16px auto 0;
  padding: 5px;
}